/*! styles.css v2.0.7 */
@charset "UTF-8";

/* ================
   HTML BODY FORMAT
   ================ */


html,
body {
	height: 100%;
	min-height: 100%;
}

html,
body,
article,
main,
menu {
	-webkit-overflow-scrolling: touch;
	overflow: scroll;
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	background-color: #fff;
}

input {
    margin: 3px 0;
}

/* ========================
     HEADINGS and FONTS
   ======================== */

h1, h2, h3, h4, h5, h6, p, a, header, html, form, input, footer, main, body {
	font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
}

/* Text styles and margins */

p {
	margin-bottom: 15px;
}
h1 {
	font-size: 36px;
	margin: 40px 0 20px;
}
h2 {
	font-size: 32px;
	margin: 30px 0 15px;
}
h3 {
	font-size: 28px;
	margin: 25px 0 10px;
}
h4 {
	font-size: 20px;
	font-weight: bold;
	margin: 20px 0 10px;
}
h5 {
	font-size: 18px;
	font-weight: bold;
	margin: 15px 0 10px;
}
h6 {
	font-weight: bold;
	margin: 5px 0;
}

a {
	color: #e63c2f;
	text-decoration: none;
}

a:hover {
	color: #980019;
}

/* ================
     MAIN CONTENT
   ================ */

main {
	display: flex;
	flex-direction: column;
	flex: auto;
}

aside {
	overflow-y: auto;
	flex: 1;
	background: #fff;
	box-shadow: 0px;
}

article {
	overflow-y: auto;
	min-height: 400px;
	flex: 1;
	text-align: center;
}

.confirmation p {
	font-style: italic;
	color: #0cff00;
	text-shadow: 1px 1px 1px #353535;
	font-size: 25px;
	margin: .5% 10%;
}

.failure p {
	font-style: italic;
	color: #ff0730;
	text-shadow: 1px 1px 1px #353535;
	font-size: 25px;
	margin: .5% 10%;
}

/* ==================
        HEADER
   ================== */

header {
	flex: 1;
	max-height: 4%;
	position: relative;
	background: #fff;
	padding: 8% 0;
	background-image: url(/static/images/HBTN-Borderless-CMYK-Logo-Horizontal-Color-Black@1200ppi.png);
	background-size: 40%;
	background-position-x: 5%;
	background-position-y: 5%;
	background-repeat: no-repeat;
	background-color: transparent;
}



/* ==================
        FOOTER
   ================== */


.activelink {
	padding-top: 0px;
	font-size: 56px;
	color: #00b0aa;
}

footer ul {
	flex: 1;
	display: flex;
	flex-direction: row;
	flex: auto;
	align-items: stretch;
	justify-content: space-between;
	width: 100%;
	margin: 0 0 0 15px;
	padding: 0;
}

footer li {
	background: transparent;;
	display: block;
	flex: auto;
	list-style-type: none;
	text-align: center;
	max-width: 150px;
	text-align: center;
	margin: 0 auto;
}

footer li:hover {
	background: transparent;
}

footer ul a {
	padding-top: 6%;
	flex: auto;
	font-size: 24px;
}



/* ==================
          HOME
   ================== */

#begin {
	font-size: 75px;
	margin: 10% 10%;
}



/* ==================
         SELFIE
   ================== */


.upload-image {
	margin-left: 8%;
    width: 250px;
}

.upload-image::-webkit-file-upload-button {
	visibility: hidden;
}

.upload-image::before {
	content: 'upload image';
	font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
	color: #fff;
	display: inline-block;
	background: -webkit-linear-gradient(top, #f3808a, #e83d30);
	border: 1px solid #696969;
	border-radius: 3px;
	margin-top: 40%;
	margin-bottom: 10%;
	padding: 2px;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	text-shadow: 1px 1px #696969;
	font-weight: 700;
	font-size: 22px;
}

.upload-image:hover::before {
	border-color: black;
}

.upload-image:active::before {
	background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.confirm-image {
	color: #fff;
	background: -webkit-linear-gradient(top, #9cc9d8, #339dc3);
	border: 1px solid #999;
	border-radius: 3px;
	padding: 4px;
	-webkit-user-select: none;
	cursor: pointer;
	text-shadow: 1px 1px #696969;
	box-shadow: 0 0 2px 1px #696969;
	font-weight: 700;
	font-size: 16pt;
}

#tweet-toolbox {
	padding: 0% 5%;
	margin: 0% auto;
	width: 80%;
	text-align: center;
}

#translation {
	margin: 0% 20%;
	padding: 1% 1%;
	background: rgba(255, 255, 255, 0.9);
	border: 1px groove #717171;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 0px 4px 0px #353535;
	text-align: left;
	font-size: 18px;
    color: #00;
}


/* ==================
         STATUS
   ================== */

#tweet-input {
	padding: 5px;
	border: 0;
	border-radius: 3px;
	box-shadow: inset 0px 0px 4px 0px #353535;
	width: 100%;
	font-size: 36px;
}

.tweetbutton {
	border-radius: 10px;
	-webkit-appearance: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: #339dc3;
	padding: 7px 14px;
	font-weight: bold;
	font-size: 36px;
	font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	color: #fff;
	text-decoration: none;
	border: 1px groove #339dc3;
}


.tweetbutton:hover {
	background: #2683a5;
	cursor: pointer;
}


.toolbox-button {
	background: #fff;
	color: #000;
	border-radius: 10px;
	text-decoration: none;
	border: 1px groove #339dc3;
	font-size: 30px;
    margin: 3%;
}

select {
	font-size: 30px;
}


/* ==================
         TWEET
   ================== */


#tweet-status {
	font-size: 24px;
}


#tweet-image {
	max-height: 250px;
}

/* ================
       FEATURES
   ================ */

#features {
	font-size: 24px;
}

.empty {
	display: none !important;
}

#search-input {
	padding: 5px;
	border: 0;
	border-radius: 3px;
	box-shadow: inset 0px 0px 4px 0px #353535;
	background-color: white;
	cursor: auto;
	width: 75%;
	font-size: 15px;
}

#features-app {
	background: rgba(255, 255, 255, 0.9);
	border: 1px groove #717171;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 0px 4px 0px #353535;
	max-width: 50%;
	float: right;
	margin: 1% 1%;
	padding: 1% 5%;
	text-align: left;
	font-size: 24px;
}

/* =================
     MEDIA QUERIES
   ================= */


@media (max-width: 600px) {

	html,
	body,
	article {
		-webkit-overflow-scrolling: touch;
		overflow: scroll;
		height: 100%;
		position: relative;
	}

	main {
		overflow: scroll;
	}

	.activelink {
		font-size: 20px;
	}

	footer ul a {
		font-size: 20px;
		max-width: 20%;
		text-align: center;
	}

	aside {
		box-shadow: 0px 0px 3px 2px #353535;
	}

}
