{% extends "layout.html" %}
{% block content %}
<article style="background: #fff;">
  <p>
	<h1>404</h1>
	<img src="static/images/space-odyssey.gif"
		 style="box-shadow: 0 0 26px 7px #000; max-width: 100%;" />
  </p>
</article>
</main>
<footer>
  <p>by:
	<a href="http://www.davidjohncoleman.com/" target="_blank">David John Coleman II</a>
	<a href="https://twitter.com/djohncoleman" target="_blank">
		<i class="fa fa-twitter" aria-hidden="true"></i></a>
	<a href="https://www.facebook.com/johncoleman83" target="_blank">
		<i class="fa fa-facebook" aria-hidden="true"></i></a>
	<a href="https://github.com/johncoleman83/" target="_blank">
		<i class="fa fa-github" aria-hidden="true"></i></a>
	<a href="https://www.linkedin.com/in/davidjohncoleman/" target="_blank">
		<i class="fa fa-linkedin" aria-hidden="true"></i></a>
  </p>
</footer>
{% endblock %}
