{% extends "layout.html" %}
{% block content %}
<article>
  <a class="twitter-timeline"
	 style="font-size: 30px"
	 href="https://twitter.com/djohncoleman"
	 <!--data-height="250"-->
	 <!--data-width="250"-->
	 <!--data-tweet-limit="1"-->
	 >Tweets by djohncoleman</a>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</article>
	  </main>
	  <footer>
		<ul>
		  <a href="/">
			<li><i class="fa fa-home" aria-hidden="true"></i><br>home</li>
		  </a>
		  <a href="/selfie">
			<li><i class="fa fa-camera" aria-hidden="true"></i><br>selfie</li>
		  </a>
		  <a href="/status">
			<li><i class="fa fa-pencil-square-o" aria-hidden="true"></i><br>status</li>
		  </a>
		  <a href="/tweet">
			<li><i class="fa fa-twitter" aria-hidden="true"></i><br>tweet</li>
		  </a>
		  <a href="/confirm" class="activelink">
			<li><i class="fa fa-check" aria-hidden="true"></i><br>confirm</li>
		  </a>
		</ul>
	  </footer>
{% endblock %}
