{% extends "layout.html" %}
{% block content %}
<article>
  <div id="say-hello">
	<h2>say hello on twitter from
	<a href="https://twitter.com/holbertonschool"
	   target="_blank">@holbertonschool</a>!</h2>
  </div>
  <div id="embed-tweets">
	<div class="embed-col">
	  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">.<a href="https://twitter.com/holbertonschool">@holbertonschool</a> stopping to smell the flowers!!!  <a href="https://twitter.com/hashtag/HelloFromHolberton?src=hash">#HelloFromHolberton</a> <a href="https://t.co/DQ2Lj2qWNS">pic.twitter.com/DQ2Lj2qWNS</a></p>&mdash; D. John Coleman II (@djohncoleman) <a href="https://twitter.com/djohncoleman/status/864641215467094016">May 17, 2017</a></blockquote>
	  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
	<div class="embed-col">
	  <form action="/"
			method="POST"
		enctype="multipart/form-data"
		class="selfiearticle">
	<input type="file"
		   name="file"
		   accept=".png,.jpg,.jpeg,.gif"
		   required
		   class="upload-image"
		   onchange="this.form.submit()"
		   ><br>
	  </form>
	</div>
		<div class="embed-col">
	  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">.<a href="https://twitter.com/holbertonschool">@holbertonschool</a> visits <a href="https://twitter.com/LinkedIn">@LinkedIn</a>!  <a href="https://twitter.com/hashtag/HelloFromLinkedIN?src=hash">#HelloFromLinkedIN</a> <a href="https://t.co/lr8f9Nq2Dd">pic.twitter.com/lr8f9Nq2Dd</a></p>&mdash; D. John Coleman II (@djohncoleman) <a href="https://twitter.com/djohncoleman/status/864640972700794880">May 17, 2017</a></blockquote>
	  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
  </div>
</article>
{% endblock %}
