{% extends "layout.html" %}
{% block content %}
<article>
  <div id="begin-link">
	<a href="/selfie"><h1 id="begin">Begin</h1></a>
  </div>
</article>
	  </main>
	  <footer>
		<ul>
		  <a href="/" class="activelink">
			<li><i class="fa fa-home" aria-hidden="true"></i><br>home</li>
		  </a>
		  <a href="/selfie">
			<li><i class="fa fa-camera" aria-hidden="true"></i><br>selfie</li>
		  </a>
		  <a href="/status">
			<li><i class="fa fa-pencil-square-o" aria-hidden="true"></i><br>status</li>
		  </a>
		  <a href="/tweet">
			<li><i class="fa fa-twitter" aria-hidden="true"></i><br>tweet</li>
		  </a>
		  <a href="/confirm">
			<li><i class="fa fa-check" aria-hidden="true"></i><br>confirm</li>
		  </a>
		</ul>
		<div id="toolbox-disclaimer">
		  *participation requires compliance with
		  <a href="https://support.twitter.com/articles/18311"
			 target="_blank">"The Twitter Rules"</a>.
		</div>
	  </footer>
{% endblock %}
