<!doctype html>
<html lang="en">
	<head>
	<title>holberton tweets</title>

	<!-- meta data -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="icon" href="static/images/hbtn-Favicon-64x64-4x.png"/>

	<!-- facebook -->
	<meta property="og:image" content="static/images/HBTN-Bordered-CMYK-Logo-Horizontal-Color-Black@4x.png"/>
	<meta property="og:url" content="holberton-mtb.mybluemix.net"/>
	<meta property="og:type" content="website" />
	<meta property="og:title" content="holberton tweets" />
	<meta property="og:description"
		  content="holberton mini tweet bot: a demo for twitter automation" />

	<!-- twitter card -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@holbertonschool">
	<meta name="twitter:creator" content="@djohncoleman">
	<meta name="twitter:title" content="holberton tweets">
	<meta name="twitter:description" content="mini tweet bot: twitter automation for shared, public or private twitter accounts">
	<meta name="twitter:image" content="static/images/HBTN-Bordered-CMYK-Logo-Horizontal-Color-Black@4x.png">

	<!-- css -->
	<link href="static/css/styles.css?v2.0.8" rel="stylesheet"/>
	<link href="static/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- js -->
	<script src="static/js/behavior.js"></script>

	</head>
	<body>
	  <main>
		<header>
		  <img class="header-image"
			   src="/static/images/HBTN-Borderless-CMYK-Logo-Horizontal-Color-Black@1200ppi.png" />
		</header>
		{% block content %}
		{% endblock %}
	</body>
</html>
