{% extends "layout.html" %}
{% block content %}
<article id="status">
  <form action="/status"
		id="status-form"
		method="POST"
		enctype="multipart/form-data">
	<input type="submit"
		   name="action"
		   value="&#xf099 Tweet"
		   class="tweetbutton">
	<input type="text"
		   name="tweet"
		   id="tweet-input"
		   placeholder="type custom tweet here (optional)"
		   pattern=".{0,115}"
		   title="min: 0 to max: 115 characters"
		   ><br>
	</form>
  {% if image %}
  {{ image }}
  {% endif %}
  <div id="toolbox-disclaimer">
	<br>
	*participation requires compliance with
	<a href="https://support.twitter.com/articles/18311"
	   target="_blank">"The Twitter Rules"</a>.
	<br><br>
	<a class="retakebutton" href="/">retake selfie</a>
  </div>
</article>
{% endblock %}
